# Python bytecode
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc

# Django migrations
*/migrations/*

# VSCode
.vscode/

# 가상 환경 폴더
myvenv/
env/
.myvenv/

# 환경 설정 파일
.env
env

# 데이터베이스 파일 무시
db.sqlite3
*.db
