asgiref==3.8.1
autopep8==2.3.1
beautifulsoup4==4.12.3
black==24.8.0
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==4.2
django-seed==0.3.1
django-silk==5.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Faker==28.4.1
gprof2dot==2024.6.6
idna==3.10
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.2
psycopg2==2.9.9
pycodestyle==2.12.1
PyJWT==2.9.0
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
toposort==1.10
tzdata==2024.1
urllib3==2.2.3
